<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.nuwanda.moneylogger" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.BROADCAST_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<application android:label="MoneyLogger.Droid" android:icon="@drawable/icon">
		<service android:name="com.nuwanda.moneylogger.Communicator" />
	</application>
</manifest>